.Rproj.user
.Rhistory
.RData
.Ruserdata
pubs_in_TA_and_YOAF_list2017-2022.csv
check_publications_TA_YOAF_green_notopen.csv
check_publications_TA_YOAF_green_notopen.xlsx
2023_YOAF_HybridGold_tocheck.csv